In [3]:
import pyodbc 
import pyodbc
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=KASMO\MSSQLSERVER1;'
    'DATABASE=bikestores;'
    'UID=sa;'
    'PWD=Rakshitha#23'
)

In [4]:
import pandas as pd
query="select * from sales.customers"
df=pd.read_sql(query,conn)
df

C:\Users\Rakshita\AppData\Local\Temp\ipykernel_23004\2207468477.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql(query,conn)

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code
0,1,Debra,Burks,None,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127
1,2,Kasha,Todd,None,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008
2,3,Tameka,Fisher,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278
3,4,Daryl,Spence,None,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820
...,...,...,...,...,...,...,...,...,...
5775,5776,Jamaal,Morrison,None,jamaal.morrison@msn.com,796 SE. Nut Swamp St.,Staten Island,NY,10301
5776,5777,Cassie,Cline,None,cassie.cline@gmail.com,947 Lafayette Drive,Brooklyn,NY,11201
5777,5778,Lezlie,Lamb,None,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722
5778,5779,Ivette,Estes,None,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424
5779,5780,Ester,Acevedo,None,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580

In [5]:
df.loc[df['customer_id']==2,['first_name','last_name']]=['sathwick','reddy']
df.loc[df['customer_id']==4,['first_name','last_name']]=['Rakshitha','Reddy']
df

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code
0,1,Debra,Burks,None,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127
1,2,sathwick,reddy,None,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008
2,3,Tameka,Fisher,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278
3,4,Rakshitha,Reddy,None,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820
...,...,...,...,...,...,...,...,...,...
5775,5776,Jamaal,Morrison,None,jamaal.morrison@msn.com,796 SE. Nut Swamp St.,Staten Island,NY,10301
5776,5777,Cassie,Cline,None,cassie.cline@gmail.com,947 Lafayette Drive,Brooklyn,NY,11201
5777,5778,Lezlie,Lamb,None,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722
5778,5779,Ivette,Estes,None,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424
5779,5780,Ester,Acevedo,None,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580

In [6]:

from datetime import datetime
df['start_date']=datetime.today().strftime('%y-%m-%d')
df['end_date']='None'

In [7]:
df

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,start_date,end_date
0,1,Debra,Burks,None,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,25-06-25,None
1,2,sathwick,reddy,None,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,25-06-25,None
2,3,Tameka,Fisher,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,25-06-25,None
3,4,Rakshitha,Reddy,None,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,25-06-25,None
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,25-06-25,None
...,...,...,...,...,...,...,...,...,...,...,...
5775,5776,Jamaal,Morrison,None,jamaal.morrison@msn.com,796 SE. Nut Swamp St.,Staten Island,NY,10301,25-06-25,None
5776,5777,Cassie,Cline,None,cassie.cline@gmail.com,947 Lafayette Drive,Brooklyn,NY,11201,25-06-25,None
5777,5778,Lezlie,Lamb,None,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722,25-06-25,None
5778,5779,Ivette,Estes,None,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424,25-06-25,None
5779,5780,Ester,Acevedo,None,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580,25-06-25,None

In [8]:
updates_customer={
    'customer_id':3,
    'first_name':'Rakshi',
    'last_name':'Reddy'
    }

In [9]:
df.loc[(df['customer_id']==updates_customer['customer_id'])&(df['end_date'].isnull()),'end_date']=datetime.today().strftime('%y-%m-%d')

In [10]:
new=df.loc[df['customer_id']==updates_customer['customer_id']].copy()
new

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,start_date,end_date
2,3,Tameka,Fisher,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,25-06-25,None

In [12]:
new['first_name']=updates_customer['first_name']
new['last_name']=updates_customer['last_name']
new['start_time']=datetime.today().strftime('%y-%m-%d')
new['end_date']='None'
new

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,start_date,end_date,start_time
2,3,Rakshi,Reddy,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,25-06-25,None,25-06-25

In [13]:
df=pd.concat([df,new],ignore_index=True)

In [17]:
df['previous_name']=df['first_name']
df
df.loc[df['customer_id'] == 2, 'previous_name'] = df.loc[df['customer_id'] == 2, 'first_name']

df.loc[df['customer_id']==2,'first_name']="Rashi"
df

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,start_date,end_date,start_time,previous_name
0,1,Debra,Burks,None,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,25-06-25,None,NaN,Debra
1,2,Rashi,reddy,None,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,25-06-25,None,NaN,Bhavana
2,3,Tameka,Fisher,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,25-06-25,None,NaN,Tameka
3,4,Rakshitha,Reddy,None,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,25-06-25,None,NaN,Rakshitha
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,25-06-25,None,NaN,Charolette
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5777,5778,Lezlie,Lamb,None,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722,25-06-25,None,NaN,Lezlie
5778,5779,Ivette,Estes,None,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424,25-06-25,None,NaN,Ivette
5779,5780,Ester,Acevedo,None,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580,25-06-25,None,NaN,Ester
5780,3,Rakshi,Reddy,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,25-06-25,None,25-06-25,Rakshi
5781,3,Rakshi,Reddy,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,25-06-25,None,25-06-25,Rakshi

In [28]:
df

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,start_date,end_date,start_time,email_previous
0,1,Debra,Burks,None,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,25-06-24,None,NaN,None
1,2,sathwick,reddy,None,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,25-06-24,None,NaN,None
2,3,Tameka,Fisher,None,Rakshitha@gmail.com,769C Honey Creek St.,Redondo Beach,CA,90278,25-06-24,None,NaN,tameka.fisher@aol.com
3,4,Rakshitha,Reddy,None,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,25-06-24,None,NaN,None
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,25-06-24,None,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5778,5779,Ivette,Estes,None,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424,25-06-24,None,NaN,None
5779,5780,Ester,Acevedo,None,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580,25-06-24,None,NaN,None
5780,3,Rakshi,Reddy,None,Rakshitha@gmail.com,769C Honey Creek St.,Redondo Beach,CA,90278,25-06-24,None,25-06-24,tameka.fisher@aol.com
5781,3,Rakshi,Reddy,None,Rakshitha@gmail.com,769C Honey Creek St.,Redondo Beach,CA,90278,25-06-24,None,25-06-24,tameka.fisher@aol.com
5782,3,Rakshi,Reddy,None,Rakshitha@gmail.com,769C Honey Creek St.,Redondo Beach,CA,90278,25-06-24,None,25-06-24,tameka.fisher@aol.com

In [18]:
col=['customer_id','first_name','last_name','phone','city','state','zip_code']
history_table=pd.DataFrame(columns=col)
history_table

Empty DataFrame
Columns: [customer_id, first_name, last_name, phone, city, state, zip_code]
Index: []

In [22]:
update_data={
    'customer_id':2,
    'first_name':'Laxmi',
    'last_name':'Srinivas'
}
new_record=df.loc[df['customer_id']==update_data['customer_id']].copy()
new_record

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,start_date,end_date,start_time,previous_name
1,2,Rashi,reddy,None,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,25-06-25,None,NaN,Bhavana

In [25]:
df.loc[df['customer_id']==update_data['customer_id'],'first_name']=update_data['first_name']
df.loc[df['customer_id']==update_data['customer_id'],'last_name']=update_data['last_name']
history_table=pd.concat([history_table,new_record],axis=0)
history_table

,customer_id,first_name,last_name,phone,city,state,zip_code,email,street,start_date,end_date,start_time,previous_name
1,2,Rashi,reddy,None,Campbell,CA,95008,kasha.todd@yahoo.com,910 Vine Street,25-06-25,None,NaN,Bhavana

In [26]:
df

,customer_id,first_name,last_name,phone,email,street,city,state,zip_code,start_date,end_date,start_time,previous_name
0,1,Debra,Burks,None,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,25-06-25,None,NaN,Debra
1,2,Laxmi,Srinivas,None,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,25-06-25,None,NaN,Bhavana
2,3,Tameka,Fisher,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,25-06-25,None,NaN,Tameka
3,4,Rakshitha,Reddy,None,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,25-06-25,None,NaN,Rakshitha
4,5,Charolette,Rice,(916) 381-6003,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,25-06-25,None,NaN,Charolette
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5777,5778,Lezlie,Lamb,None,lezlie.lamb@gmail.com,401 Brandywine Street,Central Islip,NY,11722,25-06-25,None,NaN,Lezlie
5778,5779,Ivette,Estes,None,ivette.estes@gmail.com,88 N. Canterbury Ave.,Canandaigua,NY,14424,25-06-25,None,NaN,Ivette
5779,5780,Ester,Acevedo,None,ester.acevedo@gmail.com,671 Miles Court,San Lorenzo,CA,94580,25-06-25,None,NaN,Ester
5780,3,Rakshi,Reddy,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,25-06-25,None,25-06-25,Rakshi
5781,3,Rakshi,Reddy,None,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,25-06-25,None,25-06-25,Rakshi